.row > *,
col > *,
.row,
.col,
.card,
.container-fluid,
#banner {
	border-radius: 0px;
	border-width: 0px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.banner,
.footer {
	background-color: #5b493c;
	width: auto;
}

#banner {
	height: 10vh;
	place-content: center;
}

.banner:first-child {
	color: white;
}

.footer > h2 {
	color: white;
}
.left-menu {
	flex-direction: column;
	background-color: #f99a3e;
	height: 85vh;
	width: 20vh;
}

.top-menu {
	background-color: #c39182;
	height: 5vh;
	text-size-adjust: auto;
}

footer {
	position: relative;
	bottom: 0%;
	height: 5vh;
}

.photoimpar,
.photopar {
	height: 5vh;
}
.photowrapper {
	height: fit-content;
}

.photoimpar {
	background-color: #c5697a;
}

.photopar {
	background-color: #00a2b6;
}

.A,
.B,
.C {
	place-content: center;
	flex-grow: 1;
	height: auto;
}

.right-wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 85vh;
	align-items: stretch;
}

.row.row-lg-10.col-md-12 {
	height: 100%;
}

#maincontentAB {
	height: auto;
}
